/*
In order to add the css file to the index.html,
add this: <link href="style.css"rel="stylesheet">

Here, let´s organize the syntax

Selector: P
Declaration Code: { color: blue;}
Declaration: color: blue;
Property: color:
Value: blue;
*/

p{
    color: blue;
}

/*
This is used to put universal attributes to all elements on the page*/
* {  
    border: 1px solid red;
}

/*
To select an especific element,
code on the html the class, and then declare it like this <p class='brand'></p>
always using a (.) before the word
*/

.brand {

}